footer {
    display: flex;
    flex-direction: column;
    align-items: center;

        .footerNav {
            margin-top: 20px;
            margin-bottom: 5px;

                a {
                    text-decoration: none;
                    color: black;
                }
        }

        p {
            color: @bgColor;
        }
}