.homePage {

    .mainImg {
        max-height: 750px;
        height: 750px;
        background-image: url(../images/main-img.jpeg);
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .middleText {
        max-width: 1000px;
        max-height: 1000px;
        text-align: center;
        border: 1px solid @borderColor;
        background: rgba(212, 212, 212, 0.842);

            h2 {
                    margin: 25px;                
            }
            p {
                    margin: 10px;
                    font-size: 1.3rem;
            }
            button{
                    margin: 20px 10px;
                    .customBtn(40px, 130px, @btnColor, @btnTextColor,@borderColor,1.3rem)
            }
    }

    .mainInfo {
        margin-top: 20px;
           
            h2 {
                text-align: center;
                margin-bottom: 25px;
            }

            .bottomContent {
                display: flex;
                justify-content: space-between;

                    .cards {
                        width: 32%;
                        text-align: center;

                            // p{
                            //     margin-top: 20px;
                            // }

                            // button {
                            //     margin-top: 2%;;
                            //     .customBtn(50px, 130px,@btnColor, @btnTextColor,@borderColor, 1.1rem)
                            // }

                            .cardImg {
                                margin-bottom: 20px;
                            }
                            .cardText {
                                margin-bottom: 5%;
                                max-height: 65px;
                            }
                            button {
                                margin-top: 25px;
                                .customBtn(50px, 130px,@btnColor, @btnTextColor,@borderColor, 1.1rem)
                            }

                    }
            }
    }
       
}