.homePage {
    margin: 30px auto;
    .mainImg {
        margin-top: 73px;
        max-height: 750px;
        height: 750px;
        background-image: url(../images/main-img.jpeg);
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .middleText {
        max-width: 1000px;
        max-height: 1000px;
        text-align: center;
        border: 1px solid @borderColor;
        background: @bgColor;

            h2 {
                    margin: 25px;                
            }
            p {
                    margin: 10px;
                    font-size: 1.3rem;
            }
            .mainBtns{
                    margin: 20px 10px;
                    display: flex;
                    justify-content: space-evenly;
                    
                    .btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .customBtn(40px, 130px, @btnColor, @btnTextColor,@borderColor,1.3rem)
                    }
                    
            }
    }

    .mainInfo {
        margin-top: 20px;
           
            h2 {
                text-align: center;
                margin-bottom: 25px;
            }

            .bottomContent {
                width: 100%;
                display: flex;
                justify-content: space-between;
    
                .cardContent {
                    padding: 0 10px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    @media @mobile {
                        flex-direction: column;
                    }

                    .cards {
                        width: 30%;
                        text-align: center;
                        display: flex;
                        flex-direction: column;

                        @media @mobile {
                            width:95%;
                            margin: 0 auto;
                            padding: 0 3%;
                        }
                            
                            img {
                                width: 100%;
                            }
                             p{
                                margin-top: 5%;
                            }

                            .buttonSection {
                                display: flex;
                                justify-content: center;
                                margin: 25px 0;
                               
                                .button {
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    .customBtn(60px, 150px,@btnColor, @btnTextColor,@borderColor, 1.1rem)
                                }

                            }  
                    } 
                }
            }

            // .buttons {
            //     margin: 25px 0;
            //     display: flex;
            //     justify-content: space-between;
            //     // padding: 0 10%;

            //     .firstBtn {
            //         width: 30%;
            //         display: flex;
            //         justify-content: center;
            //     }
            //     .secondBtn {
            //         width: 30%;
            //         display: flex;
            //         justify-content: center;
            //     }
            //     .thirdBtn {
            //         width: 30%;
            //         display: flex;
            //         justify-content: center;
            //     }
            //     .button {
            //         width: 100%;
            //         display: flex;
            //         align-items: center;
            //         justify-content: center;
            //         .customBtn(60px, 150px,@btnColor, @btnTextColor,@borderColor, 1.1rem)
            //     }
            // }
    }  
       
}