.navBar{
    max-width: 1300px;
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

        h1 {
            font-size: 3.5rem;
        }
        a{
            text-decoration: none;
            font-size: 2rem;
            margin: 15px;
        }
}